@model Budget
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card position-relative">
            <div class="card-body">
                <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-12 col-xl-6  d-flex flex-column justify-content-start">
                                    <div @*class="ml-xl-4 mt-3"*@>
                                        <p class="card-title">Büdcə</p>
                                        <h6 class="text-primary">Kassada olan məbləğ:  AZN @Model.TotalBudget</h6>
                                        <h6 class="font-weight-50 mb-xl-4 text-primary">Kassada olan son dəyişiklik: AZN  @Model.LastModifiedAmount</h6>
                                        <h6 class="font-weight-50 mb-xl-4 text-primary">Məhsul şəxs:  @Model.LastModifiedBy</h6>
                                        <h6 class="font-weight-50 mb-xl-4 text-primary">Dəyişmə vaxtı : @Model.LastModifiedDate</h6>
                                        <h6 class="font-weight-50 mb-xl-4 text-primary"> Məlumat: @Model.LastModifiedDescription</h6>
                                       
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                       
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
