@model List<Benefit>
<hr class="my-5" />

<!-- Bordered Table -->
<div class="card">
    <div class="card-header" style="display:flex;justify-content:space-between">
        <form method="get">
            <input name="search" type="search" />
        </form>

        <div>
            <a asp-action="Create" class="btn btn-danger text-white rounded-pill" style="margin-right:10px">Əlavə Et</a>
           

        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Miqdar</th>
                        <th>Təsvir</th>
                        <th>Tarix</th>
                        <th>Kim tərəfdən</th>
                        <th style="text-align:right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Benefit item in Model)
                    {
                        <tr>
                            <td>@item.Amount AZN</td>
                            <td>@item.Description</td>
                            <td>@item.CreateTime</td>
                            <td>@item.By</td>
                            <td>
                                <div style="display:flex;justify-content:flex-end">
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info text-white" style="margin-right:10px"><i class="fa-solid fa-pen"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="pagnation my-2">
                    <ul style="list-style:none;display:flex;justify-content:center;">
                        <li class="page-item prev">
                            <a class="page-link" asp-route-page="page">
                                <i class="tf-icon bx bx-chevrons-left"></i>
                            </a>
                        </li>
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            <li class="page-item  @(i == ViewBag.CurrentPage ? "active" : "")"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                        }
                        <li class="page-item next">
                            <a class="page-link" asp-route-page="@ViewBag.PageCount">
                                <i class="tf-icon bx bx-chevrons-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Bordered Table -->

<hr class ="my-5"   />
